.login-page {
  background-color: black;
  height: 100vh;
}

.menu-page {
    background-color: black;
    height: 100vh;
  .menu-page-container {
    margin-top: 40px;

    .link-box {
      height: 250px;
      border-radius: 2px;
      a {
        text-decoration: none;
        color: aliceblue;
      }
    }
  }
}

.movies-page{
  background-color: black;
}

.subs-page{
  background-color: rgb(240, 242, 245);
}
